.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    padding: 20px;
    color: #ffffff;
}

.products-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product {
    flex-basis: 26%;
    padding: 20px 25px;
    border: 2px solid #fff;
    margin: 10px 1%;
}

.App-header {
    padding: 20px 0;
}

.App-link {
    color: #61dafb;
}

footer {
    margin-top: 40px;
}