html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: 0;
  border: 0;
}

button {
  background-color: transparent;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
}

input, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: unset;
  border-radius: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

body {
  font-family: "Arial";
  font-size: 16px;
}

.App {
  padding: 5vh 0;

  .todo-list {
    max-width: 800px;
    margin: auto;

    .controls-area {
      display: flex;

      button {
        height: 40px;
        padding: 5px 30px;
        min-width: 120px;
        background-color: #000;
        color: #ffffff;
        font-size: 18px;
        cursor: pointer;
      }

      input {
        flex-grow: 1;
        border: 2px solid #000000;
        padding: 5px 20px;

      }
    }

    .tasks-area {
      margin-top: 20px;
      padding: 20px 25px;
      border: 1px solid #000;

      > li {
        border-radius: 3px;
        background-color: #f3f2f2;
        padding: 15px 25px;
        list-style-type: decimal;
        list-style-position: inside;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        .actions {
          span {
            cursor: pointer;
            img {
              display: block;
              width: 20px;
              height: auto;
            }
          }
        }
      }
    }
  }
}